body {
  margin: 0;
}

header {
  width: 300px;
  margin-left: 0;
  flex-direction: column;
  justify-content: flex-start;
}

#logo {
  margin-left: 116px;
}

nav {
  width: 300px;
  justify-content: start;
}
/* Navigation */

nav ul {
  width: 300px;
  margin: 0;
  padding: 0;
}

nav a {
  font-size: 12px;
  width: 50%;
  color: black;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 3px solid #a1a1a1;
  padding-bottom: 16px;
}

nav a:hover {
  color: #0065fc;
  border-bottom: 3px solid #0065fc;
  border-top: 0;
  padding-top: 0px;
}
h1 {
  width: 260px;
  margin-bottom: 16px;
  margin-top: 20px;
  margin-left: 20px;
}
.info1 {
  margin-left: 20px;
  width: 260px;
}
