body {
  font-family: "Raleway", sans-serif;
  width: 992px;
  margin: auto;
}

header {
  display: flex;
  width: 918px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  width: 62px;
  height: 38px;
}
nav {
  flex-basis: 30%;
  display: flex;
  justify-content: flex-end;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 20px;
  padding-left: 20px;
}

nav a {
  font-size: 13px;
  color: #a1a1a1;
  padding-bottom: 3px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 14px;
}
h1 {
  font-size: large;
}
.info1 {
  color: #a1a1a1;
  font-size: 13px;
  font-weight: bold;
  margin-top: -6px;
}
h1,
#af {
  flex-basis: 92%;
}
#af {
  font-size: 12px;
  font-weight: bold;
}

#formR {
  flex-basis: 95%;
}
#formR i {
  background: #f2f2f2;
  color: black;
  width: 32px;
  height: 32px;
  font-size: 12px;
  border-radius: 14px 0px 0px 14px;
  border: 1px solid #eeeee4;
  float: left;
  display: flex;
  align-items: center; /* Alignement du texte verticalement */
  justify-content: center; /* Alignement du texte horizotalement */
}
#formR input {
  height: 27.5px;
  border: 2px solid #f2f2f2;
  width: 186px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 14px;
  float: left;
}

#search {
  height: 34px;
  width: 100px;
  background: #034efc;
  border-color: #034efc;
  color: white;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  cursor: pointer;
  float: left;
}
#info {
  padding-right: 8px;
}

#formFiltre {
  margin-top: 8px;
  display: flex;
  width: 90%;
}

#formFiltre ul {
  list-style-type: none;
  display: flex;
}
#formFiltre p {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: small;
}

ul button {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  /* margin: 10px; */
  height: 34px;
  border-radius: 25px;
  border-color: #a1a1a1;
  padding: 8px 10px 10px 30px;
}
#formFiltre ul i {
  background-color: #dfecff;
  color: #0065fc;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  margin-top: -10px;
  margin-left: -40px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul button:hover {
  background-color: #3e8e41;
}

#formFiltre li {
  margin-right: 30px;
  display: flex;
}
#log {
  font-size: 14px;
  color: #a1a1a1;
}

/* Début section hébergement */
#hebergements {
  display: flex;
  width: 918px;
  margin: auto;
  justify-content: space-between;
}
main {
  width: 611px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border-radius: 2.5%;
  padding-top: 1.5%;
}
main h2 {
  font-size: 13px;
  flex-basis: 92%;
}
main article {
  width: 162px;
  height: 135px;
  border: 3px solid white;
  background-color: white;
  border-radius: 10%;
}
.bas {
  margin-top: 18px;
}
main img {
  width: 162px;
  height: 81px;
  border-radius: 10% 10% 0% 0%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
h5 {
  color: black;
  font-size: 11.5px;
  padding: 0;
  margin: 0;
  margin-left: 6px;
}
aside h5 {
  color: black;
  font-size: 11.5px;
  height: 30px;
  width: 122px;
  padding: 0;
  margin: 0;
  margin-left: 6px;
}

aside article P {
  font-size: 10px;
  color: #a1a1a1;
  height: 62px;
  width: 122px;
  margin-left: 6px;
  margin-top: 6px;
}
b {
  color: black;
}
main article P {
  font-size: 10px;
  color: #a1a1a1;
  margin-left: 6px;
  margin-top: 6px;
}
main article P i {
  font-size: 8px;
  margin-top: 8px;
  color: #034efc;
}
aside article P i {
  font-size: 8px;
  color: #034efc;
  margin-top: 34px;
}
#end {
  font-size: 8px;
  color: #f2f2f2;
}
aside {
  width: 282px;
  background-color: #f2f2f2;
  border-radius: 2.5%;
  padding-top: 1.5%;
}
aside h2 {
  font-size: 13px;
  width: 236px;
  height: 26px;
  margin-left: 24px;
}
#pop {
  float: right;
}
aside article {
  width: 230px;
  height: 94px;
  margin-bottom: 24px;
  margin-left: 24px;
  border: 3px solid white;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
aside img {
  width: 94px;
  height: 94px;
  border-radius: 8% 0% 0% 8%;
  object-fit: cover;
}
/* Fin Section  */
#activity {
  display: flex;
  flex-wrap: wrap;
  width: 918px;
  margin: auto;
  justify-content: space-between;
  margin-top: 25px;
}
#activity article {
  width: 210px;
  height: 312px;
  border-radius: 4.5%;
  box-shadow: 2px 4.5px 4.5px #f2f2f2, -2px -0.5px 4.5px #f2f2f2;
}
#activity div {
  width: 210px;
  height: 312px;
  border-radius: 4.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#activity div #articleHaut {
  width: 210px;
  height: 158px;
  border-radius: 4.5%;
  box-shadow: 2px 4.5px 4.5px #f2f2f2, -2px -0.5px 4.5px #f2f2f2;
}

#activity div #articleHautDernier {
  width: 210px;
  height: 136px;
  border-radius: 4.5%;
  box-shadow: 2px 4.5px 4.5px #f2f2f2, -2px -0.5px 4.5px #f2f2f2;
}
#activity div #articleBasDernier {
  width: 210px;
  height: 146px;
  border-radius: 4.5%;
  box-shadow: 2px 4.5px 4.5px #f2f2f2, -2px -0.5px 4.5px #f2f2f2;
}

#activity div #articleBas {
  width: 210px;
  height: 122px;
  border-radius: 4.5%;
  box-shadow: 2px 4.5px 4.5px #f2f2f2, -2px -0.5px 4.5px #f2f2f2;
}

#activity #articleHautDernier img {
  width: 210px;
  height: 100px;
  border-radius: 4.5% 4.5% 0% 0%;
  object-fit: cover;
}
#activity #articleBasDernier img {
  width: 210px;
  height: 110px;
  border-radius: 4.5% 4.5% 0% 0%;
  object-fit: cover;
}

#activity #articleHaut img {
  width: 210px;
  height: 122px;
  border-radius: 4.5% 4.5% 0% 0%;
  object-fit: cover;
}
#activity #articleBas img {
  width: 210px;
  height: 86px;
  border-radius: 4.5% 4.5% 0% 0%;
  object-fit: cover;
}
#activity img {
  width: 210px;
  height: 276px;
  border-radius: 4.5% 4.5% 0% 0%;
  object-fit: cover;
}
#activity p {
  font-size: 10.5px;
  font-weight: bold;
  margin-left: 8px;
  margin-top: 6px;
}
#activity a {
  text-decoration: none;
  color: black;
}
#actM {
  font-size: 13px;
  flex-basis: 92%;
}
/* Début footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-top: 4%;
}
footer div {
  margin-top: 3%;
  flex-basis: 20%;
  margin-left: 8px;
}
footer span {
  font-weight: bold;
  font-size: 11px;
  margin-left: 15%;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15%;
}
footer li {
  margin-top: 4%;
  font-size: 9.5px;
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: #a1a1a1;
}
#assistance {
  margin-right: 17%;
}
