body {
  font-family: "Raleway", sans-serif;
  width: 992px;
  margin: auto;
  border: 1px solid blue;
}

header {
  display: flex;
  width: 918px;
  margin: auto;
  border: 1px solid green;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  flex-basis: 15%;
  border: 1px solid green;
}
nav {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-end;
  border: 1px solid green;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-size: 1.3em;
  color: grey;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
}
h1 {
  font-size: large;
}
.info1 {
  color: gray;
  font-size: small;
  margin-left: 2px;
  position: absolute;
  top: 119px;
}
h1,
p {
  flex-basis: 92%;
  border: 1px solid green;
}

#formR {
  flex-basis: 95%;
  margin-top: 15px;
  border: 1px solid red;
}
i {
  background: #eeeee4;
  color: white;
  text-align: center;
  float: left;
  width: 37px;
  height: 32px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #eeeee4;
}
#formR input {
  height: 28px;
  border: 2px solid grey;
  width: 162px;
  float: left;
}

#search {
  float: left;
  height: 34px;
  width: 87px;
  background: #034efc;
  color: white;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #034efc;
  border-left: none;
  cursor: pointer;
}

.btn-group .button {
  background-color: white;
  border: none;
  color: black;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 25px;
}
/* .fas {
  font-size: 16px;
  background-color: #dfecff;
  color: #0065fc;
  padding: 16px;
  border-radius: 50%;
  margin-left: -20px;
}

.btn-group .button:hover {
  background-color: #3e8e41;
} */

/* #formFiltre {
  flex-basis: 95%;
  margin-top: 25px;
  display: flex;
} */

/* #formFiltre ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
} */
/* 
#formFiltre li {
  margin-right: 30px;
}

#formFiltre i {
  background: #72b0e9;
  color: white;
  text-align: center;
  float: left;
  width: 3%;
  height: 32px;
  border-radius: 100%;
  border: 1px solid #eeeee4;
} */

/* #formFiltre ul {
  list-style-type: none;
  background-color: white;
  border: none;
  color: black;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid grey;
  margin: 10px;
  border-radius: 25px;
}
.fas {
  font-size: 16px;
  background-color: #dfecff;
  color: #0065fc;
  padding: 16px;
  border-radius: 50%;
  margin-left: -20px;
} */

/* button {
  float: left;
  height: 34px;
  width: 8%;
  background: #034efc;
  color: white;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #034efc;
  border-left: none;
  cursor: pointer;
} */

/* Début section hébergement */
#hebergements {
  display: flex;
  width: 918px;
  margin: auto;
  justify-content: space-around;
  border: 1px solid black;
}
main {
  width: 590px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border: 1px solid red;
  border-radius: 2.5%;
  padding-top: 1.5%;
}
main h2 {
  font-size: medium;
  flex-basis: 92%;
  border: 1px solid green;
}
main article {
  width: 162px;
  height: 135px;
  border: 3px solid white;
  background-color: white;
  border-radius: 10%;
}
.bas {
  margin-top: 20px;
}
main img {
  width: 162px;
  height: 81px;
  border-radius: 10% 10% 0% 0%;
  object-fit: cover;
}
main article span {
  border: 1px solid yellow;
  margin-left: 4px;
}
aside {
  width: 282px;
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 2.5%;
  padding-top: 1.5%;
}
aside h2 {
  font-size: medium;
  width: 230px;
  height: 21px;
  margin-left: 24px;
  border: 1px solid green;
}
aside article {
  width: 230px;
  height: 94px;
  margin-bottom: 20px;
  margin-left: 24px;
  border: 3px solid white;
  background-color: white;
  border-radius: 10%;
}
aside img {
  width: 94px;
  height: 94px;
  border-radius: 10% 0% 0% 10%;
  object-fit: cover;
}
/* Fin Section  */
#activity {
  display: flex;
  width: 918px;
  margin: auto;
  justify-content: space-between;
  border: 1px solid violet;
}
/* Début footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-top: 1.5%;
}
footer div {
  margin-top: 3%;
  border: 1px solid black;
  flex-basis: 20%;
}
footer span {
  font-weight: bold;
  font-size: small;
  margin-left: 15%;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15%;
}
footer li {
  margin-top: 4%;
  font-size: small;
}
footer a {
  text-decoration: none;
  color: grey;
}
#assistance {
  margin-right: 20%;
}
