* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", sans-serif;
  width: 992px;
  margin: auto;
}

header {
  display: flex;
  width: 918px;
  margin-left: 37px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#logo {
  width: 62px;
  height: 38px;
  margin-top: 25px;
}
nav {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
}

/* Navigation */

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  font-size: 11.5px;
  padding-top: 25px;
  text-decoration: none;
  width: 106px;
  color: black;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: black;
}

/* nav a {
  font-size: 11.5px;
  padding-top: 25px;
  text-decoration: none;
  width: 106px;
  color: black;
  text-align: center;
} */

nav li:hover {
  color: #0065fc;
  border-top: 4px solid #0065fc;
}
h1 {
  font-size: 16px;
}
.info1 {
  font-size: 12px;
  margin-top: -6px;
}
h1,
#af {
  flex-basis: 92%;
}
#af {
  font-size: 12px;
  font-weight: bold;
}

#formR {
  flex-basis: 95%;
}
#formR #iconeLocation {
  background: #f2f2f2;
  color: black;
  width: 32px;
  height: 32px;
  font-size: 12px;
  border-radius: 14px 0px 0px 14px;
  border: 1px solid #eeeee4;
  float: left;
  display: flex;
  align-items: center; /* Alignement du texte verticalement */
  justify-content: center; /* Alignement du texte horizotalement */
}

#formR input {
  height: 32px;
  border: 2px solid #f2f2f2;
  width: 168px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 14px;
  float: left;
}

#searchVersionD {
  height: 32px;
  width: 96px;
  background: #034efc;
  border-color: #034efc;
  color: white;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  cursor: pointer;
  float: left;
}
#searchVersionM {
  height: 32px;
  width: 40px;
  background: #034efc;
  border-color: #034efc;
  color: white;
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  cursor: pointer;
  float: left;
  display: none;
}
#info {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  margin-left: 10px;
}
#info div {
  color: #034efc;
  width: 18px;
  height: 18px;
  font-size: 11px;
  margin-right: 7px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#log {
  font-size: 12px;
  padding: 0;
  padding-top: 2px;
  margin: 0;
}

#formFiltre {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 690px;
}
#formFiltre #filtre {
  display: flex; /* pour aligner le text au centre avec align-items */
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  margin-left: 10px;
}

#formFiltre ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul button {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  height: 40px;
  border-radius: 25px;
  border-color: #e2dfdf;
  padding: 7px 16px 7px 44px;
}
#formFiltre ul i {
  background-color: #dfecff;
  color: #0065fc;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  margin-top: -12px;
  margin-left: -48px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul button:hover {
  background-color: #034efc;
  color: white;
}

#formFiltre li {
  margin-right: 17px;
}

/* Début section hébergement */
main {
  display: flex;
  width: 918px;
  margin-left: 37px;
  justify-content: space-between;
}
#hebergements {
  width: 611px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border-radius: 2.5%;
  padding-top: 1.5%;
}
#hebergements h2 {
  font-size: 13px;
  flex-basis: 90%;
}
#hebergements article {
  width: 162px;
  height: 135px;
  border: 3px solid white;
  background-color: white;
  border-radius: 10%;
}
.bas {
  margin-top: 18px;
}
#hebergements img {
  width: 156px;
  height: 81px;
  border-radius: 10% 10% 0% 0%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
h5 {
  color: black;
  font-size: 11.5px;
  padding: 0;
  margin: 0;
  margin-left: 6px;
}
aside {
  width: 282px;
  background-color: #f2f2f2;
  border-radius: 2.5%;
  padding-top: 1.5%;
}
aside h2 {
  font-size: 13px;
  width: 230px;
  height: 26px;
  margin-left: 24px;
}
#pop {
  float: right;
}
aside article {
  width: 230px;
  height: 94px;
  margin-bottom: 24px;
  margin-left: 24px;
  border: 3px solid white;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
aside h5 {
  color: black;
  font-size: 11.5px;
  height: 30px;
  width: 122px;
  padding: 0;
  margin: 0;
  margin-left: 6px;
}

aside article P {
  font-size: 10px;
  color: #a1a1a1;
  height: 62px;
  width: 122px;
  margin-left: 6px;
  margin-top: 6px;
}
b {
  color: black;
}
#hebergements article P {
  font-size: 10px;
  color: #a1a1a1;
  margin-left: 6px;
  margin-top: 2px;
}
#hebergements article P i {
  font-size: 8px;
  margin-top: 4px;
  color: #034efc;
}
aside article P i {
  font-size: 8px;
  color: #034efc;
  margin-top: 28px;
}
.end {
  font-size: 8px;
  color: #f2f2f2;
}

aside img {
  width: 94px;
  height: 88px;
  border-radius: 8% 0% 0% 8%;
  object-fit: cover;
}
/* Fin Section  */
#activity {
  display: flex;
  flex-wrap: wrap;
  width: 918px;
  margin-left: 37px;
  justify-content: space-between;
  margin-top: 25px;
}
#activity article {
  width: 210px;
  height: 312px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 4px #f2f2f2;
}
#activity div {
  width: 210px;
  height: 312px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#activity div #articleHaut {
  width: 210px;
  height: 158px;
  border-radius: 4.5%;
  box-shadow: 1px 1px 5px 5px #f2f2f2;
}

#activity div #articleHautDernier {
  width: 210px;
  height: 136px;
  border-radius: 4.5%;
  box-shadow: 1px 1px 5px 5px #f2f2f2;
}
#activity div #articleBasDernier {
  width: 210px;
  height: 146px;
  border-radius: 4.5%;
  box-shadow: 1px 1px 5px 5px #f2f2f2;
}

#activity div #articleBas {
  width: 210px;
  height: 122px;
  border-radius: 4.5%;
  box-shadow: 1px 1px 5px 5px #f2f2f2;
}

#activity #articleHautDernier img {
  width: 210px;
  height: 100px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
#activity #articleBasDernier img {
  width: 210px;
  height: 110px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}

#activity #articleHaut img {
  width: 210px;
  height: 122px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
#activity #articleBas img {
  width: 210px;
  height: 86px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
#activity img {
  width: 210px;
  height: 274px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
#activity p {
  font-size: 10.5px;
  font-weight: bold;
  margin-left: 8px;
  margin-top: 6px;
}
#activity a {
  text-decoration: none;
  color: black;
}
#actM {
  font-size: 14px;
  flex-basis: 92%;
}
/* Début footer */
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  margin-top: 4%;
}
footer div {
  margin-top: 3%;
  flex-basis: 20%;
  margin-left: 8px;
}
footer span {
  font-weight: bold;
  font-size: 11px;
  margin-left: 15%;
}
footer ul {
  list-style-type: none;
  padding: 0;
  margin-left: 15%;
}
footer li {
  margin-top: 4%;
  font-size: 9.8px;
}
footer a {
  text-decoration: none;
  color: black;
}
#assistance {
  margin-right: 17%;
}
