/* header {
  width: 95%;
  margin-left: 10px;
} */
nav {
  width: 51%;
}
nav li {
  font-size: 13px;
}
h1 {
  font-size: 15px;
}
.info1 {
  font-size: 13px;
}
#af {
  font-size: 13px;
}
#formFiltre {
  margin-top: 20px;
}
#formFiltre li {
  margin-bottom: 10px;
}

/* main {
  width: 95%;
  margin-left: 10px;
} */
main section {
  width: 67%;
}
main section h2 {
  font-size: 13px;
}
main section a {
  width: 27.9%;
  height: 142px;
  margin: 12px;
}
main section a article img {
  height: 78px;
}

main section a article h2 {
  font-size: 10px;
}
section article P {
  font-size: 9px;
}
section article P i {
  font-size: 8px;
}

.end {
  font-size: 8px;
  color: #f2f2f2;
}

main aside {
  width: 31.5%;
}
main aside h2 {
  font-size: 13px;
}
main aside a {
  height: 92px;
}

aside a article P {
  font-size: 9px;
}
aside article P i {
  font-size: 8px;
  margin-top: 18px;
}
aside a article div h2 {
  font-size: 10px;
}

/* Fin main  */
/* #activity {
  width: 95%;
  margin-left: 10px;
} */
#activity h2 {
  font-size: 13px;
}
#activity a {
  width: 22.5%;
  height: 250px;
}
#activity a article h2 {
  font-size: 10px;
}

#activity img {
  height: 215px;
}

#activity div {
  width: 22.5%;
  height: 250px;
}
#activity div #articleHaut {
  height: 120px;
  margin-bottom: 40px;
}

#activity #articleHaut img {
  height: 85px;
}
#activity div #articleBas {
  height: 90px;
}
#activity #articleBas img {
  height: 55px;
}

#activity div #articleHautDernier {
  height: 100px;
}
#activity #articleHautDernier img {
  height: 70px;
}
#activity div #articleBasDernier {
  height: 110px;
}
#activity #articleBasDernier img {
  height: 75px;
}

/* Début footer */
/* footer {
  width: 99%;
} */

footer span {
  font-size: 11px;
}
footer li {
  font-size: 9px;
}
